[submodule "library/waylandhelper"]
	path = library/waylandhelper
	url = https://codeberg.org/aerkkila/waylandhelper
[submodule "library/ttra"]
	path = library/ttra
	url = https://codeberg.org/aerkkila/ttra
[submodule "library/colormap-headers"]
	path = library/colormap-headers
	url = https://codeberg.org/aerkkila/colormap-headers
