library/config.h
library/colormaps.h
library/functions.c
library/function_wrappers.c
library/ne_10m_coastline*
executable/nctplot
core
vgcore.*
*xdg-shell*
*.out
*.so
*.o
library/shpname.h
library/pager.h
*/.nclangcomplete*
